.link {
  display: block;
  color: #fff;
  text-decoration: none;

  &:not(:first-child) {
    margin-top: 16px;
  }
}

.orderItem {
  background-color: #1c1c21;
  border-radius: 40px;
  box-shadow:
    0 0 1px 0 #0000000a,
    0 0 2px 0 #0000000f,
    0 4px 8px 0 #0000000a;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.images {
  display: flex;
  padding-left: 16px;
}

.done {
  color: #0cc;
}

.imageContainer {
  position: relative;
  width: 64px;
  height: 64px;
  margin-left: -16px;
  overflow: hidden;
  background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
  border-radius: 50%;

  &::before {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 60px;
    height: 60px;
    background: #000;
    border-radius: 50%;
    content: '';
  }
}

.image {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.moreCount {
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 16px;
  background: rgb(28 28 33/60%);
  border-radius: 50%;
}
