* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
}

ul {
	list-style: none;
}

button {
	width: auto;
	color: inherit;
	font: inherit;
	line-height: normal;
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	appearance: none;
}

/* Fix for scrollbar */

@supports (scrollbar-color: auto) {
	.custom-scroll {
		scrollbar-color: #8585ad #2f2f37;
		scrollbar-width: thin;
	}

	body {
		scrollbar-color: #8585ad #2f2f37;
		scrollbar-width: thin;
	}
}
